In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("03_Library Systembook.csv")

In [3]:
df = df.dropna(how ='all')

In [6]:
df.rename(columns={'Id': 'id', 'Books': 'book_title', 'Book checkout': 'checkout_date', 'Book Returned': 'return_date',
                   'Days allowed to borrow': 'time_allowed_to_barrow', 'Customer ID': 'customer_id' }, inplace=True)

In [7]:
df = df.drop_duplicates()

In [17]:
df['id'] = df['id'].astype(str)
df["book_title"] = df["book_title"].astype(str)
df['customer_id'] = df['customer_id'].astype(str)

In [25]:
#standardise book title
def stadardise_book_title(title):
    if pd.isna(title):
        return title
    
    small_words = {"and", "the", "or", "an", "a"}
    words = title.lower().split()
    cleaned_words = []

    for i, word in enumerate(words):
        if i ==0 or word not in small_words:
            cleaned_words.append(word.capitalize())
        else:
            cleaned_words.append(word)
    
    return " ". join(cleaned_words)

df["book_title"] = df["book_title"].apply(stadardise_book_title)

In [27]:
df

,id,book_title,checkout_date,return_date,time_allowed_to_barrow,customer_id
0,1.0,Catcher In the Rye,"""20/02/2023""",25/02/2023,2 weeks,1.0
1,2.0,Lord Of the Rings the Two Towers,"""24/03/2023""",21/03/2023,2 weeks,2.0
2,3.0,Lord Of the Rings the Return Of the Kind,"""29/03/2023""",25/03/2023,2 weeks,3.0
3,4.0,The Hobbit,"""02/04/2023""",25/03/2023,2 weeks,4.0
4,5.0,Dune,"""02/04/2023""",25/03/2023,2 weeks,5.0
5,6.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
6,7.0,It,"""10/04/2063""",03/04/2023,2 weeks,6.0
7,8.0,Misery,"""15/04/2023""",03/04/2023,2 weeks,7.0
8,9.0,Catch 22,"""15/04/2023""",16/04/2023,2 weeks,7.0
9,10.0,Animal Farm,"""20/04/2023""",24/04/2023,2 weeks,2.0
10,11.0,1984,"""23/04/2023""",27/04/2023,2 weeks,8.0
11,12.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
12,13.0,East Of Eden,"""30/04/2023""",05/05/2023,2 weeks,2.0
13,14.0,America Is In the Heart,"""01/05/2023""",07/05/2023,2 weeks,3.0
14,15.0,Wuthering Heights,"""01/05/2023""",10/05/2023,2 weeks,9.0
15,16.0,Dark Tales,"""15/05/2023""",01/06/2023,2 weeks,2.0
16,17.0,The Bloody Chamber,"""32/05/2023""",04/06/2023,2 weeks,3.0
17,18.0,Les Miserables,"""03/06/2023""",07/06/2023,2 weeks,5.0
18,19.0,Dracula,"""10/06/2023""",10/07/2023,2 weeks,10.0
19,20.0,Frankenstein,"""01/06/2023""",20/06/2023,2 weeks,2.0
20,21.0,Nan,"""01/06/2023""",05/06/2023,2 weeks,nan

In [9]:
df['checkout_date'] = pd.to_datetime(df['checkout_date'], errors='coerce', dayfirst=True)
df['return_date'] = pd.to_datetime(df['return_date'], errors='coerce', dayfirst=True)
checkout = df["checkout_date"]
returned = df["return_date"]

borrow_time = (returned - checkout)
print(borrow_time)

0     NaT
1     NaT
2     NaT
3     NaT
4     NaT
       ..
109   NaT
110   NaT
111   NaT
112   NaT
113   NaT
Length: 114, dtype: timedelta64[ns]